.home{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 10em;
    background-color: #1f1e1d;
    color: white;
    overflow-x:hidden;
    overflow-y: auto;
}