.hero{
    min-height: 100vh;
    @apply relative flex justify-center items-center flex-col gap-4 w-full;
}
.nick{
    @apply absolute top-1/2 transform -translate-y-3/4 text-[17vw] font-extrabold z-0 opacity-[.05];
}
.hero__content{
    @apply flex flex-col justify-start items-start gap-10 w-[35em];
}
.hero__name{
    @apply text-4xl font-extrabold;
}
.hero__career{
    @apply text-blue-400 z-10;
}
.hero__description{
    @apply text-gray-500 italic z-10;
}
.see-p{
    @apply relative flex items-center justify-start gap-7  mx-auto px-4 py-2;
}
.see-p::after{
    content: "";
    @apply absolute right-1 top-0 h-full w-10 rounded-full bg-blue-400 opacity-20 ease-in-out transition-all duration-200;
}
.see-p::after:hover{
    @apply w-full;
}
.tech-list{
    @apply flex items-center justify-around absolute bottom-0 left-0 w-full min-h-56 bg-zinc-900 opacity-40;
}
.tech-item{
    font-size: 5em;
}
@media screen and (max-width:1024px) {
    .nick{
        @apply hidden;
    }
}
@media screen and (max-width:650px) {
    .hero__content{
        @apply w-full px-10;
    }
}
@media screen and (max-width:800px) {
    .tech-item{
        @apply text-5xl;
    }
}
@media screen and (max-width:450px) {
    .tech-item{
        @apply text-4xl;
    }
}